@import "../../styles/variable.scss";

.notification_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 20px;
  margin-bottom: 15px;
  background: #fff;
  -webkit-box-shadow: 0 3px 10px rgb(0 0 0 / 11%);
  box-shadow: 0 3px 10px rgb(0 0 0 / 11%);
}

.notification_list_unread {
  border-left: 2px solid #29b6f6;
}

.notification_list .notification_list_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.notification_list .notification_list_content .notification_list_img img {
  height: 48px;
  width: 48px;
  border-radius: 50px;
  margin-right: 20px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 20%);
}

.notification_list .notification_list_content .notification_list_detail p {
  margin-bottom: 5px;
  line-height: 1.2;
}
