@import "../../styles/variable.scss";

.about_icon {
    font-size: 22px;
    height: 65px;
    width: 65px;
    line-height: 65px;
    display: inline-block;
    background: #fff;
    border-radius: 35px;
    color: $primary;
    box-shadow: 0 8px 20px -2px rgba(158, 152, 153, 0.5);
}