@import "./variable.scss";
@import "bootstrap/dist/css/bootstrap.min.css";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import "~bootstrap/scss/bootstrap";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: $main-bg;
}

body {
  font-family: $body-font !important;
  font-size: 16px;
  font-weight: 400;
}
a {
  text-decoration: none;
}
.white-color {
  color: $white;
}
.green-color {
  color: $green;
}
.red-color {
  color: $red;
}
.gray-color {
  color: $text-primary;
}
.row_space {
  row-gap: 24px;
}

// #bootstrap

.container {
  max-width: 1400px !important;
}
.form-control {
  &:focus {
    box-shadow: none;
  }
}

.form-select {
  &:focus {
    box-shadow: none;
  }
}

// tabs
.tabs_main_div {
  border-bottom: 1px solid $border-primary !important;
  .nav-item {
    .nav-link {
      background-color: transparent;
      padding: 0px 0px 10px 0px;
      font-size: 18px;
      color: #ffffff;
      border-radius: 0px;
      border: 0px;
      margin-right: 30px;
    }
    .nav-link.active {
      color: $green;
      position: relative;
    }
    .nav-link.active::before {
      content: "";
      border-bottom: 3px solid $green;
      width: 100%;
      display: block;
      bottom: 0px;
      position: absolute;
    }
  }
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
  .container {
    max-width: 540px !important;
  }
  .column-reverse-mob {
    flex-direction: column-reverse;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .container {
    max-width: 720px !important;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .container {
    max-width: 960px !important;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1440px) {
  .container {
    max-width: 1160px !important;
  }
}

@media only screen and (min-width: 1441px) and (max-width: 1660px) {
  .container {
    max-width: 1360px !important;
  }
}
