@import "./variable.scss";
@import "bootstrap/dist/css/bootstrap.min.css";
// @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import "~bootstrap/scss/bootstrap";
@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 5px;
  border-radius: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}


html,
body {
  height: 100%;
  width: 100%;
  background-color: $main-bg;
}

body {
  font-family: $body-font !important;
  font-size: 15px;
  font-weight: 400;
  color: $text-primary;
}

a {
  text-decoration: none;
  font-weight: 500;
}

img {
  max-width: 100%;
  height: auto;
}

.white-color {
  color: $white;
}

.green-color {
  color: $green !important;
}

.red-color {
  color: $red !important;
}

.gray-color {
  color: $text-primary !important;
}

.row_space {
  row-gap: 24px;
}

.text-gray {
  color: $text-primary;
}

// #bootstrap
.form-label {
  font-weight: 500;
}

.container {
  max-width: 1400px !important;
}

.form-control {
  &:focus {
    box-shadow: none;
  }
}

.form-select {
  &:focus {
    box-shadow: none;
  }
}

.sec_title {
  font-size: 18px;
  font-weight: 500;
  color: $text-primary;
}

// tabs
.tabs_main_div {
  border-bottom: 1px solid $border-primary !important;
  display: flex;
  gap: 30px;

  .nav-item {
    .nav-link {
      background-color: transparent;
      padding: 0px 0px 10px 0px;
      font-size: 17px;
      color: $text-primary;
      border-radius: 0px;
      border: 0px;
    }

    .nav-link.active {
      color: $primary;
      position: relative;
    }

    .nav-link.active::before {
      content: "";
      border-bottom: 3px solid $primary;
      width: 100%;
      display: block;
      bottom: 0px;
      position: absolute;
    }
  }
}

.dropdown-toggle::after {
  color: $text-primary;
}

.form-control {
  height: 45px;
  background-color: $white;
}

.common-card {
  border: 1px solid $border-primary;
  padding: 15px;
  border-radius: 8px;
}

.react-datepicker-wrapper {
  width: 100%;
}

/*custom radio*/
.radio-group {
  gap: 16px;
  margin-top: 32px;
}

/* Hide the native radio input */
.custom-radio input[type="radio"] {
  appearance: none;
  opacity: 0;
  position: absolute;
}

.custom-radio label {
  position: relative;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 2px 2px 6px 0px var(--grey);
  width: 100%;
}

.custom-radio label::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  right: 16px;
  top: 16px;
  background: var(--grey);
}

/* When the radio is checked, style the label accordingly */
.custom-radio input[type="radio"]:checked+label {
  background: #ebefff;
  outline: solid 3px var(--blue);
}

/* When the radio is focused, style the label accordingly */
.custom-radio input[type="radio"]:focus+label {
  outline: solid 3px var(--blue);
  outline-offset: 5px;
}

/* When the radio is checked, style the pseudo element accordingly */
.custom-radio input[type="radio"]:checked+label::after {
  background: $primary;
}

.custom-radio h3 {
  font-size: 18px;
}

.form-label {
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 10px;

}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}

.btn {
  padding: 10px 15px;
  font-weight: 500;
  font-size: 16px;
  color: $white;
}

.main_title {
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 600;
  color: $text-primary;
  margin-bottom: 40px;
}

.main_sub_title {
  font-size: 22px;
  font-weight: 600;
  color: $text-primary;
  margin-bottom: 15px;
}

.doc_upload_input {
  height: auto;
}

.table_contain_middle {
  td {
    vertical-align: middle;
  }
}

.dropdown-menu {
  padding: 0px;
  border-radius: 0px;
  border: 1px solid $border-primary;
}

.dropdown-menu .dropdown-item:last-child {
  border-bottom: 0px;
}

.dropdown-menu .dropdown-item {
  padding: 10px 15px;
  border-bottom: 1px solid $border-primary;
  font-size: 15px;
}

.current_investment_div {
  max-height: 300px;
  overflow: auto;
  padding-right: 5px;
}

.sip-date .react-datepicker-wrapper,
.sip-date .react-datepicker__input-container {
  width: 100px;
}

/*confirm modal*/
.modal-confirm {
  color: #636363;
}

.modal-confirm .modal-content {
  padding: 20px;
  border-radius: 5px;
  border: none;
}

.modal-confirm .modal-header {
  border-bottom: none;
  position: relative;
  flex-direction: column;
}


.modal-confirm h4 {
  text-align: center;
  font-size: 26px;
  margin: 30px 0 -15px;
}

.modal-confirm .form-control,
.modal-confirm .btn {
  min-height: 40px;
  border-radius: 3px;
  background: #5ce482;
}

.modal-confirm .btn-close {
  position: absolute;
  top: 5px;
  right: 5px;
  color: $red;
}

.modal-confirm .modal-footer {
  border: none;
  text-align: center;
  border-radius: 5px;
  font-size: 13px;
  padding-bottom: 0;
}

.modal-confirm .icon-box {
  color: #fff;
  margin: 0 auto;
  width: 95px;
  height: 95px;
  border-radius: 50%;
  z-index: 9;
  background: #5ce482;
  padding: 15px;
  text-align: center;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
}

.modal-confirm .icon-box svg {
  font-size: 58px;
  position: relative;
  top: 3px;
}

.modal-confirm.modal-dialog {
  margin-top: 80px;
}

.modal-confirm .btn {
  color: #fff;
  border-radius: 4px;
  background: #5ce482;
  text-decoration: none;
  transition: all 0.4s;
  line-height: normal;
  border: none;
}

.modal-confirm .btn:hover,
.modal-confirm .btn:focus {
  background: $green;
  outline: none;
}

.slick-prev:before,
.slick-next:before {
  font-size: 30px;
  opacity: 1;
  color: $primary;
}

.slick-next {
  right: -5px;
}

.slick-prev {
  left: -10px;
  z-index: 99;
}

/* bordered tab*/

.tab-bordered .nav-item .nav-link.active {
  background: $white;
  border: 1px solid $primary;
  color: $text-primary;
}

.icon-shape {
  display: inline-flex;
  padding: 12px;
  text-align: center;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
}

.icon {
  width: 60px;
  height: 60px;
}


@media only screen and (min-width: 320px) and (max-width: 767px) {
  .container {
    max-width: 540px !important;
  }

  .column-reverse-mob {
    flex-direction: column-reverse;
  }

  .sec_title {
    font-size: 17px;
  }

  .main_title {
    font-size: 26px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .container {
    max-width: 720px !important;
  }

  .sec_title {
    font-size: 16px;
  }

  .column-reverse-tab {
    flex-direction: column-reverse;
  }

  .column-reverse-tab {
    .tabs_invest_div {
      width: 100%;
      max-width: 500px;
      margin: 0 auto;
    }
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .container {
    max-width: 960px !important;
  }

  .sec_title {
    font-size: 17px;
  }

  .column-reverse-tab {
    flex-direction: column-reverse;
  }

  .column-reverse-tab {
    .tabs_invest_div {
      width: 100%;
      max-width: 500px;
      margin: 0 auto;
    }
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1440px) {
  .container {
    max-width: 1160px !important;
  }

  .sec_title {
    font-size: 18px;
  }
}

@media only screen and (min-width: 1441px) and (max-width: 1660px) {
  .container {
    max-width: 1360px !important;
  }
}


.blog_card {
  display: flex;
  flex-direction: column;
  box-shadow: 0 .1rem 1rem rgba(0, 0, 0, 0.1);
  border-radius: 1em;
  background: #ECE9E6;
  background: linear-gradient(to right, #FFFFFF, #ECE9E6);
  margin-bottom: 25px;
}

.blog_card__body {
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.blog_card img {
  max-width: 100%;
  display: block;
  object-fit: cover;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.tag {
  align-self: flex-start;
  padding: .25em .75em;
  border-radius: 1em;
  font-size: .75rem;
  margin-bottom: 10px;
}

.tag+.tag {
  margin-left: .5em;

}

.tag-blue {
  background: $primary;
  color: #fafafa;
}


.blog_card__body h4 {
  font-size: 1.5rem;
  text-transform: capitalize;
}

.blog_card__footer {
  display: flex;
  padding: 1rem;
  margin-top: auto;
}

.user {
  display: flex;
  gap: .5rem;
}

.user__image {
  border-radius: 50%;
}

.user__info>small {
  color: #666;
}

.user__info h5 {
  margin-bottom: 0;
}

.terms-container {
  font-family: 'Open Sans', sans-serif;
  color: #262626;
}


.terms-body h3 {
  color: #262626;
  font-weight: bold;
  text-align: left;
  font-size: 16px;
}

.terms-body p {
  font-size: 14px;
  line-height: 26px;
  color: $text-primary;
  font-weight: 500;
}


.terms_footer h3 {
  margin-top: 60px;
  margin-bottom: 125px;
  text-align: center;
  font-weight: bold;
  letter-spacing: 3px;
  line-height: 1.5;
  color: #262626;
}

.card-stats {
  box-shadow: 0 0 2px 0 #e0e3eb, 0 2px 10px 0 #e0e3eb;
  border: 0;
}

.card-stats.blue {
  background: linear-gradient(45deg, #4099ff, #73b4ff);
}

.card-stats.yellow {
  background: linear-gradient(45deg, #d08519, #ffcb80);
}

.card-stats.green {
  background: linear-gradient(45deg, #1c927b, #59e0c5);
}