@import "../styles/variable.scss";

.stock_detail {
  .stock_detail_logo {
    display: flex;
    align-items: center;
    justify-content: space-between;

    img {
      border-radius: 50%;
    }
  }

  .stock_detail_price {
    margin-top: 15px;
    margin-bottom: 0;

    h3 {
      color: $text-primary;
      font-size: 36px;
      font-weight: 600;
    }
  }

  .stock_detail_stock_name {
    display: flex;
    align-items: center;

    h2 {
      font-size: 48px;
      margin-top: 15px;
      color: $text-primary;
      text-transform: uppercase;
      padding-left: 10px;
    }
  }

  .stock_detail_price_updown {
    font-size: 16px;
  }

  .stock_detail_stock_overview {
    .stock_detail_stock_performance {
      h6 {
        font-size: 15px;
        color: $text-primary;
      }

      p {
        font-size: 15px;
        color: $text-primary;
        letter-spacing: 0.5px;
        font-weight: 600;
      }
    }
  }
}

.form_control {
  background: $main-bg-500;
  width: 100px;
  text-align: right;
}

.mutual_detail_year {
  font-size: 17px;
  color: $text-primary;
}

.mutual_list {
  display: flex;
  justify-content: space-between;

  h6 {
    color: $text-gray;
    font-size: 15px;
    font-weight: 500;
  }

  p {
    color: $text-primary;
    font-weight: 500;
  }
}
