/* make the customizations */

// Color system
$white: #ffffff !default;
$green: #0abb92 !default;
$red: #d55438 !default;
$main-bg: #ffffff !default;
$main-bg-500: #f0f0f2 !default;
$text-primary: #7c7e8c !default;
$border-primary: #e9e9eb !default;
$body-font: "Poppins", sans-serif !default;
$border-radius: 5px !default;
$gold-color: #ffbf44;
$accordion-btn-bg: $main-bg-500;
$accordion-bg: $main-bg-500;
$accordion-border-color: $border-primary;
$body-color: $text-primary !default;
$body-font-family: $body-font;
$body-font-size: 16px;
$primary: $green;
$danger: $red;
// $secondary: $pink !default;
// $gray: $gray !default;
