/* make the customizations */

// Color system
$white: #fff !default;
$green: #0abb92 !default;
$red: #d55438 !default;
$main-bg: #121212 !default;
$main-bg-500: #1b1b1b !default;
$text-primary: #b8b8b8 !default;
$border-primary: #2e2e2e !default;
$body-font: "Poppins", sans-serif !default;
$border-radius: 5px !default;
$gold-color: #ffbf44;

$body-color: $text-primary !default;
$body-font-family: $body-font;
$body-font-size: 16px;
$primary: $green;
$danger: $red;
// $secondary: $pink !default;
// $gray: $gray !default;
