/* make the customizations */

// Color system
$white: #fff !default;
$green: #0ABB92 !default;
$red: #D55438 !default;
$main-bg: #121212 !default;
$main-bg-500: #1B1B1B !default;
$text-primary: #B8B8B8 !default;
$border-primary:  #2E2E2E !default;
$body-font: 'Poppins', sans-serif !default;
$border-radius: 10px !default;

$body-color: $text-primary !default;
$body-font-family: $body-font;
$body-font-size: 16px;
$primary: $green;
$danger: $red;
// $secondary: $pink !default;
// $gray: $gray !default;