@import '../../styles/variable.scss';

.investments_card_div {
  background: $main-bg;
  border: 1px solid $border-primary;
}
.grid_div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 15px;
}
.title {
  color: $white;
  margin-bottom: 10px;
  font-size: 18px;
}
.index_value {
  margin-bottom: 0px;
  font-size: 15px;
}
