@import "../../styles/variable.scss";

.investments_card_div {
  background: $white;
  border: 1px solid $border-primary;
}
.grid_div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 15px;
}
.title {
  color: $text-primary;
  margin-bottom: 10px;
  font-size: 17px;
}
.index_value {
  margin-bottom: 0px;
  font-size: 14px;
  font-weight: 500;
  color: $text-primary;
}
