@import "../../styles/variable.scss";

.watchlist_card_div {
  background: $white;
  border: 1px solid $border-primary;
  .watchlist_card_body {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    cursor: pointer;
  }
  .title {
    color: $text-primary;
    margin-bottom: 5px;
    font-size: 16px;
  }
  .index_value {
    margin-bottom: 0px;
    font-size: 14px;
  }
}
.create_watchlists {
  border-top: 1px solid $border-primary;
  padding-top: 15px;
  a {
    font-size: 18px;
  }
  svg {
    font-size: 24px;
  }
}
